body {
  background-color: #FFB0B0;
}

img {
  height: 1
}

header {
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: 'Anton', sans-serif;
}

h1 {
  color: #EDEF60;
  text-align: center;
  font-size: 26px;
  font-family: monospace;
  line-height: 1;
}

h2 {
  text-align: center;
  color: #C17BC1;
  font-size: 20px;
  font-family: monospace;
  line-height: 1;
}
