body {
  background-color: darkblue;
}


.header {

  text-align: center;
  color: white;
  font-size: 110px;
  font-family: monospace;
}

.header1{
  border-style: ridge;
  border-width: 10px;
  color: #EDEF60;
  background-color: black;
}
.header2{
  border-style: ridge;
  border-width: 10px;
  color: #EDEF60;
  background-color: black;
}

.header3{
  border-style: ridge;
  border-width: 10px;
  color: #EDEF60;
  background-color: black;
}

#header4{
  border-style: ridge;
  border-width: 10px;
  color: #EDEF60;
  background-color: black;
}

#header5{
  border-style: ridge;
  border-width: 10px;
  color: #EDEF60;
  background-color: black;
}

h1 {
  color: #EDEF60;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  line-height: 1;
}

h2 {
  border-style: ridge;
  border-width: 25px;
  text-align: center;
  color: #C17BC1;
  font-size: 20px;
  font-family: monospace;
  line-height: 1;
}

#footer{
  border-style: solid;
background-color: yellow;

}
