body {
  background-color: tan;
}
header {
  color: lightblue;
  font-size: 34px;
  font-family: monospace;

}

h1 {
  color: lightcoral;
  font-size: 26px;
  font-family: monospace;
  line-height: 1;
}

h2 {
  color: mistyrose;
  font-size: 20px;
  font-family: monospace;
  line-height: 1;
}
